body {
  overflow: hidden;
  background-color: #222222;
  background: #222222;
  color: #222222;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.in {
  border-radius: 15px;
  outline:none;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(22, 22, 22, 0.5);
  font-size: 3vh;
  width: 98vw;
  position: absolute;
  left: 1vw;
  bottom:1.25vh;
  height: 5vh;
  border: none;
}

.log {
  position: absolute;
  border-radius: 15px;
  outline:none;
  overflow: hidden;
  color: white;
  background-color: rgba(22, 22, 22, 0.5);
  font-size: 5vh;
  width: 98vw;
  left: 1vw;
  top: 2.5vh;
  height: 90vh;
  border: none;
}
.console {
  z-index: 1;
  overflow: auto;
  position: absolute;
  border-radius: 15px;
  outline:none;
  color: white;
  background-color: rgba(22, 22, 22, 0);
  font-size: 3vh;
  width: 98vw;
  left: 1vw;
  top: 2.5vh;
  height: 89.5vh;
  border: none;
  scrollbar-width: thin;
  scrollbar-color: #aaa #eee;
  resize: none;
}

.refresh {
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  outline:none;
  overflow: hidden;
  color: white;
  background-color: rgba(22, 22, 22, 0.5);
  font-size: 3vh;
  width: 5vh;
  left: 96.8vw;
  bottom: 1.35vh;
  height: 5vh;
  border: none;
}


span {
  white-space: pre-wrap; /* Preserve whitespace and wrap lines */
}
/* Customize the appearance of the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

/* Customize the appearance of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

/* Customize the appearance of the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #eee;
}
